<div class="navbar navbar-inverse navbar-subnav">
  <div class="container">
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li ng-class="{'active': selected == 'keys'}">
          <a href="/account/keys">
            API Keys
          </a>
        </li>
        <li ng-class="{'active': selected == 'settings'}">
          <a href="/account/settings">
            Settings
          </a>
        </li>
        <li>
          <a href="#">
            Sign Out
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
