<div class="navbar navbar-inverse navbar-subnav">
  <div class="container">
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class='no-left' ng-class="{'active': selected == 'tutorial'}">
          <a href="/docs/tutorials/">
            <i class="fa fa-info-circle"></i>
            Tutorials
          </a>
        </li>
        <li class='no-left' ng-class="{'active': selected == 'reference'}">
          <a href="/docs/ref/">
            <i class="fa fa-book"></i>
            Reference
          </a>
        </li>
        <li class='no-left' ng-class="{'active': selected == 'explorer'}">
          <a href="/docs/explorer/">
            <i class="fa fa-search"></i>
            API Explorer
          </a>
        </li>
        <!-- <li class='no-left' ng-class="{'active': selected == 'latest'}">
          <a href="/docs/tutorials/">
            Sample Apps
          </a>
        </li>
        <li class='no-left' ng-class="{'active': selected == 'latest'}">
          <a href="/docs/tutorials/">
            CoinCasts
          </a>
        </li> -->
        <li class='no-left'>
          <a href="https://github.com/helloblock" target="_blank">
            <i class="fa fa-code"></i>
            Source Code
          </a>
        </li>
      </ul>
    </div><!-- /.nav-collapse -->
  </div>
</div>
