<div class="navbar navbar-inverse navbar-subnav">
  <div class="container">
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown dropdown-small no-left active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            TESTNET <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">TESTNET</a></li>
            <div class="divider"></div>
            <li><a href="#">MAINNET</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class='no-left'>
          <a href="/testnet/">
            Latest
          </a>
        </li>
        <li class='active'>
          <a href="/testnet/addresses">
            Addresses
          </a>
        </li>
        <li>
          <a href="/testnet/transactions">
            Transactions
          </a>
        </li>
        <li>
          <a href="/testnet/blocks">
            Blocks
          </a>
        </li>
        <li>
          <a href="/testnet/unconfirmed">
            Unconfirmed
          </a>
        </li>
      </ul>
    </div><!-- /.nav-collapse -->
  </div>
</div>
