<div class="navbar navbar-inverse navbar-subnav">
  <div class="container">
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown dropdown-small no-left active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {{global.mode.toUpperCase()}} <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="{{global.baseUrl.mainnet}}/latest">MAINNET</a>
            </li>
            <div class="divider"></div>
            <li>
              <a href="{{global.baseUrl.testnet}}/latest">TESTNET</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="" class='no-highlight sound'
          ng-click="global.toggleSound()">
            <span class='text-success' ng-show="global.sound === 1">
              <i class="fa fa-volume-up"></i>
            </span>
            <span class="text-default-force" ng-show="global.sound === 2">
              <i class="fa fa-volume-off"></i>
            </span>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class='no-left' ng-class="{'active': selected == 'latest'}">
          <a href="/latest">
            Latest
          </a>
        </li>
        <li ng-class="{'active': selected == 'addresses'}">
          <a href="/addresses">
            Addresses
          </a>
        </li>
        <li ng-class="{'active': selected == 'transactions'}">
          <a href="/transactions">
            Transactions
          </a>
        </li>
        <li ng-class="{'active': selected == 'blocks'}">
          <a href="/blocks">
            Blocks
          </a>
        </li>
        <li ng-class="{'active': selected == 'propagate'}">
          <a href="/propagate">
            Propagation
          </a>
        </li>
      </ul>
    </div><!-- /.nav-collapse -->
  </div>
</div>
