<div class="navbar navbar-inverse navbar-subnav">
  <div class="container">
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class='no-left active'>
          <a href="/blockexplorer">
            Snapshot
          </a>
        </li>
        <li>
          <a href="/api-explorer">
            Addresses
          </a>
        </li>
        <li>
          <a href="/tutorials/sample">
            Transactions
          </a>
        </li>
        <li>
          <a href="/tutorials/videos">
            Blocks
          </a>
        </li>
        <li>
          <a href="/docs">
            Unconfirmed
          </a>
        </li>
      </ul>
    </div><!-- /.nav-collapse -->
  </div>
</div>
