<table class="table table-striped table-transactions">
  <tr>
    <td class="text-center">
      <span class="h5 pull-left unselectable">
        TX HASH:
      </span>
      <span class='h5 pull-left'>
        <a href="/{{global.mode}}/transactions/{{tx.tx_hash}}"> {{tx.tx_hash}}</a>
      </span>
      <span class="pull-right">
        <span class="label label-lg" confirmations="{{tx.confirmations}}"></span>
        <span class="label label-lg label-default amount" utc="{{tx.estimated_time}}"></span>
        <span class="label label-lg label-success amount" to-btc="{{tx.estimated_tx_value}}"></span>
      </span>
    </td>
  </tr>
  <tr>
    <td>
    <br>
    <div class="col-md-5">
      <div class="text-center" ng-show="tx.in[0].prev_out.tx_hash === null">
        <br>
        <span class="h3">NEWLY GENERATED COINS</span>
      </div>
      <table
        class="table table-bordered"
        ng-repeat="i in tx.in"
        ng-show="i.prev_out.tx_hash !== null"
        >
        <tbody>
          <tr>
            <td rowspan="2" class='text-center n-index'>
              <a href="/{{global.mode}}/transactions/{{i.prev_out.tx_hash}}?n={{i.prev_out.n}}">
                n: {{i.prev_out.n}}
              </a>
            </td>
            <td rowspan="2" class='text-center'>
              <img ng-src="http://www.gravatar.com/avatar/{{i.prev_out.hash160}}?d=identicon&s=48" width="48">
            </td>
            <td>
              <span class="h6">
                <a href="/{{global.mode}}/addresses/{{i.prev_out.hash160}}">{{i.prev_out.address}}</a>
              </span>
              </td>
          </tr>
          <tr>
            <td>
              <span class="label label-default">SPENT</span>
              <span class="h6 amount" to-btc="{{i.prev_out.value}}"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-2 text-center">
      <br>
      <span class="text-gray-light" direction="{{tx.estimated_tx_direction}}">
        <i class="fa fa-arrow-circle-right fa-4x"></i>
      </span>
    </div>
    <div class="col-md-5 addresses">
      <div class="text-center" ng-show="tx.out[0].address === null">
        <br>
        <!-- <img src="http://audiosex.pro/uploads/profile/photo-6577.jpg" height="80"> -->
        <span class="h3">STRANGE OUTPUT</span>
      </div>
      <table
        ng-repeat="o in tx.out"
        class="table table-bordered"
        ng-show="tx.out[0].address !== null"
        >
        <tbody>
          <tr>
            <td rowspan="2" class='text-center n-index'>
              n: {{o.n}}
            </td>
            <td rowspan="2" class='text-center'>
              <img ng-src="http://www.gravatar.com/avatar/{{o.hash160}}?d=identicon&s=48" width="48">
            </td>
            <td>
              <span class="h6">
                <a href="/{{global.mode}}/addresses/{{o.address}}">{{o.address}}</a>
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="label" spent="{{o.spent}}"></span>
              <span class="h6 amount" to-btc="{{o.value}}"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </td>
  </tr>
</table>
