<subnav></subnav>
<br>
<div class="container">
  <!-- <span class='lead'>
    <em>Enter any valid Bitcoin Address and press enter ...</em>
  </span> -->
  <!-- selected? -->
  <div class="h1 text-center text-gray">
    ADDRESSES:
  </div>
  <br>
  <textarea class='h2 input'>n1Fr4r3wEcbXZGQJaqJkFRiMpYLAsk81RX</textarea>
  <br><br>
  <div class="row">
    <div class="container">
      <span class="pull-right">
        <a href='#'>View as JSON</a>
      </span>
    </div>
    <div class="col-md-4 text-center">
      <img src="http://identicoin.herokuapp.com/address/1" height="220" class='address-identicoin'>
    </div>
    <div class="col-md-8">
      <table class="table table-bordered table-address">
        <tbody>
          <tr>
            <td><strong>Hash160</strong></td>
            <td>d88713de7b1d0837e728de5d5e62399f5e6e145e</td>
          </tr>
          <tr>
            <td><strong># Transactions</strong></td>
            <td>3</td>
          </tr>
          <tr>
            <td><strong># Total Sent</strong></td>
            <td>2</td>
          </tr>
          <tr>
            <td><strong># Total Received</strong></td>
            <td>4</td>
          </tr>
          <tr>
            <td><strong>Total Received Amount</strong></td>
            <td>4342889</td>
          </tr>
          <tr>
            <td><strong>Final Balance Amount</strong></td>
            <td>889</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br><br><br><br>
</div>
<div class="container">
  <tabset>
    <tab heading="Unspent Outputs">
      <br>
      <table class="table table-striped table-transactions">
        <tr>
          <td class="text-center">
            <span class="h4">
              TX HASH:
              <a href="">6f9e9570881e781db8c137c84c111a138e4a022e6b2def5e2a1589a802fe25f3</a>
            </span>
            <span class="label label-lg label-success amount">0.111 BTC</span>
            <span class="label label-lg label-danger">UNCONFIRMED</span>
          </td>
        </tr>
        <tr>
          <td>
          <br>
          <div class="col-md-5">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td rowspan="2" class='text-center n-index'>
                    n: 1
                  </td>
                  <td rowspan="2" class='text-center'>
                    <img src="http://identicoin.herokuapp.com/address/2" width="48">
                  </td>
                  <td><span class="h6">mvANEVQRsAC7xHt4GW2iSsJwUSMgkGX2k3</span></td>
                </tr>
                <tr>
                  <td><span class="h6 amount">1.1314124 BTC</span></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-2 text-center">
            <i class="fa fa-arrow-circle-right fa-4x text-success"></i>
          </div>
          <div class="col-md-5 addresses">
            <table class="table table-bordered table-higlighted">
              <tbody>
                <tr>
                  <td rowspan="2" class='text-center n-index'>
                    n: 0
                  </td>
                  <td rowspan="2" class='text-center'>
                    <img src="http://identicoin.herokuapp.com/address/1" width="48">
                  </td>
                  <td><span class="h6">n1Fr4r3wEcbXZGQJaqJkFRiMpYLAsk81RX</span></td>
                </tr>
                <tr>
                  <td><span class="h6 amount">1.1314124 BTC</span></td>
                </tr>
              </tbody>
            </table>
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td rowspan="2" class='text-center n-index'>
                    n: 1
                  </td>
                  <td rowspan="2" class='text-center'>
                    <img src="http://identicoin.herokuapp.com/address/3" width="48">
                  </td>
                  <td><span class="h6">mvANEVQRsAC7xHt4GW2iSsJwUSMgkGX2k3</span></td>
                </tr>
                <tr>
                  <td><span class="h6 amount">1.1314124 BTC</span></td>
                </tr>
              </tbody>
            </table>
          </div>
          </td>
        </tr>
      </table>
    </tab>
    <tab heading="All Transactions">
      <br>
      CONTENT

    </tab>
  </tabset>

</div>
