<subnav selected="'addresses'"></subnav>
<div class="centerpiece-alt text-center">
  <div class="container">
    <div class="input-group">
      <input
        class='h3 big-input'
        spellcheck="false"
        value="{{address.base58}}">
      <span class="input-group-btn">
        <button class="btn btn-success btn-block btn-search">
          <span class="h2">SEARCH</span>
        </button>
      </span>
    </div>
  </div>
</div>
<div class="container">
  <br>
  <div class="h1 text-center">
    ADDRESS:
  </div>
  <div class="row">
    <div class="container">
      <span class="pull-right">
        <a href='#'>View as JSON</a>
      </span>
    </div>
    <div class="col-md-4 text-center">
      <img src="http://identicoin.herokuapp.com/address/{{address.base58}}" height="220" class='address-identicoin'>
    </div>
    <div class="col-md-8">
      <table class="table table-bordered table-address">
        <tbody>
          <tr>
            <td><strong>Base58</strong></td>
            <td>{{address.base58}}</td>
          </tr>
          <tr>
            <td><strong>Hash160</strong></td>
            <td>{{address.hash160}}</td>
          </tr>
          <tr>
            <td><strong># Transactions</strong></td>
            <td>{{address.tx_n}}</td>
          </tr>
          <tr>
            <td><strong># Total Sent</strong></td>
            <td>{{address.total_sent_n}}</td>
          </tr>
          <tr>
            <td><strong># Total Received</strong></td>
            <td>{{address.total_received_n}}</td>
          </tr>
          <tr>
            <td><strong>Total Sent Amount</strong></td>
            <td to-btc="{{address.total_sent}}"></td>
          </tr>
          <tr>
            <td><strong>Total Received Amount</strong></td>
            <td to-btc="{{address.total_received}}"></td>
          </tr>
          <tr>
            <td><strong>Final Balance Amount</strong></td>
            <td to-btc="{{address.total_received - address.total_sent}}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br><br><br><br>
</div>
<div class="container">
  <tabset>
    <tab heading="All Transactions">
      <br>
      <span ng-repeat="tx in address.transactions">
        <div ng-include="'/templates/blockExplorer/_tx.html'"></div>
      </span>
    </tab>
    <tab heading="Unspent Outputs">
      <br>
      <span ng-repeat="tx in address.unspent_transactions">
        <div ng-include="'/templates/blockExplorer/_tx.html'"></div>
      </span>
    </tab>
  </tabset>

</div>
