<subnav selected="'addresses'"></subnav>
<div class="centerpiece-alt text-center">
  <div class="container">
    <form ng-submit="bigSearch.query(address.base58)">
      <div class="input-group">
          <input
            class='h3 big-input'
            spellcheck="false"
            name="query"
            ng-model="address.base58"
            >
          <span class="input-group-btn">
            <button class="btn btn-success btn-block btn-search">
              <span class="h2">SEARCH</span>
            </button>
          </span>
      </div>
    </form>
  </div>
</div>
<div class="container">
  <br>
  <div class="h1 text-center">
    ADDRESS:
  </div>
  <div class="row">
    <div class="container">
      <span class="pull-right">
        <a href='#'>View as JSON</a>
      </span>
    </div>
    <waitspin ng-show="!address.hash160"></waitspin>
    <div class="col-md-4 text-center">
      <img bind-once src="http://identicoin.herokuapp.com/address/{{address.base58}}" height="220" class='address-identicoin'>
    </div>
    <div class="col-md-8">
      <table class="table table-bordered table-address" ng-show="address.hash160">
        <tbody>
          <tr>
            <td><strong>Base58</strong></td>
            <td bind-once>
              <a bind-once href="/testnet/addresses/{{address.base58}}">
                {{address.base58}}
              </a>
            </td>
          </tr>
          <tr>
            <td><strong>Hash160</strong></td>
            <td>{{address.hash160}}</td>
          </tr>
          <tr>
            <td><strong># Transactions</strong></td>
            <td>{{address.tx_n}}</td>
          </tr>
          <tr>
            <td><strong># Total Sent</strong></td>
            <td>{{address.total_sent_n}}</td>
          </tr>
          <tr>
            <td><strong># Total Received</strong></td>
            <td>{{address.total_received_n}}</td>
          </tr>
          <tr>
            <td><strong>Total Sent Amount</strong></td>
            <td watch='true' to-btc="{{address.total_sent}}"></td>
          </tr>
          <tr>
            <td><strong>Total Received Amount</strong></td>
            <td watch='true' to-btc="{{address.total_received}}"></td>
          </tr>
          <tr>
            <td><strong>Final Balance Amount</strong></td>
            <td watch='true' to-btc="{{address.total_received - address.total_sent}}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br><br><br><br>
</div>
<div class="container">
  <tabset>
    <tab heading="All Transactions">
      <br>
      <div infinite-scroll="loadMoreTransactions()">
        <span ng-repeat="tx in address.transactions | limitTo:limitTo.transactions">
          <div ng-include="'/templates/blockExplorer/_tx.html'"></div>
        </span>
      </div>

    </tab>
    <tab heading="Unspent Outputs">
      <br>
      <div infinite-scroll="loadMoreUnspents()">
        <span ng-repeat="tx in address.unspent_transactions | limitTo:limitTo.unspents">
          <div ng-include="'/templates/blockExplorer/_tx.html'"></div>
        </span>
      </div>
    </tab>
  </tabset>

</div>
<div class="col-md-8 col-md-offset-1">
  <waitspin ng-show="fetching"></waitspin>
</div>
<div class="space-big"></div>
<div class="space-big"></div>
