<subnav selected="'blocks'" global="global"></subnav>
<div class="centerpiece-alt text-center">
  <div class='h1 white'>{{global.mode.toUpperCase()}}</div>
  <br>
  <div class="container">
    <div class="col-md-4">
      <a
        href="/blocks/{{block.index - 1}}"
        class="btn btn-default btn-block btn-hover">
        <span class='h3'>PREVIOUS</span>
      </a>
    </div>
    <div class="col-md-4">
      <form ng-submit="bigSearch.query(block.index)">
        <input class='h2 big-input' spellcheck="false" ng-model="block.index">
      </form>
    </div>
    <div class="col-md-4">
      <a
        href="/blocks/{{block.index + 1}}"
        class="btn btn-default btn-block btn-hover">
        <span class='h3'>NEXT</span>
      </a>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="h1 text-center">
    BLOCK:
  </div>
  <br>
  <div class="h3 text-center text-gray">
    SUMMARY:
  </div>
  <waitspin ng-show="!block.blockHeight"></waitspin>
  <div class="col-md-10 col-md-offset-1">
    <span class="pull-right view-json">
      <a href='https://{{global.mode}}.helloblock.io/v1/blocks/{{block.index}}'>View as JSON</a>
    </span>
    <br>
    <table
      ng-show="block.blockHeight"
      class="table table-bordered table-summary">
      <tr>
        <td>Block Height: </td>
        <td>{{block.blockHeight}}</td>
      </tr>
      <tr>
        <td>Block Hash: </td>
        <td>
          <div>
            <clipboard clip-copy="{{block.blockHash}}"></clipboard>
            <span>{{block.blockHash}}</span>
          </div>
        </td>
      </tr>
      <tr>
        <td>Block Time: </td>
        <td utc="{{block.blockTime}}"></td>
      </tr>
      <tr>
        <td>Block Bits: </td>
        <td>{{block.bits}}</td>
      </tr>
      <tr>
        <td>Confirmations: </td>
        <td>
          <span class="label" verbose="true" confirmations="{{block.confirmations}}"></span>
        </td>
      </tr>
      <tr>
        <td>Merkle Root: </td>
        <td>
          <clipboard clip-copy="{{block.merkleRootHash}}"></clipboard>
          <span>{{block.merkleRootHash}}</span>
        </td>
      </tr>
      <tr>
        <td>Nonce: </td>
        <td>{{block.nonce}}</td>
      </tr>
      <tr>
        <td># Transactions: </td>
        <td>{{block.txsCount}}</td>
      </tr>
      <tr>
        <td>Total Inputs: </td>
        <td to-btc="{{block.totalInputsValue}}"></td>
      </tr>
      <tr>
        <td>Total Outputs: </td>
        <td to-btc="{{block.totalOutputsValue}}"></td>
      </tr>
    </table>

  </div>
</div>
<br><br><br>
<div class="container" ng-show="block.transactions.length > 0">
  <div class="h3 text-center text-gray">
    TRANSACTIONS:
  </div>
  <br>
  <div infinite-scroll="loadMoreTransactions()">
    <span ng-repeat="tx in block.transactions| limitTo:limitTo.transactions">
      <div ng-include="'/templates/blockExplorer/_tx.html'"></div>
    </span>
  </div>
</div>
