<subnav selected="'blocks'" global="global"></subnav>
<div class="centerpiece-alt text-center">
  <div class="container">
    <div class="col-md-4">
      <a
        href="/testnet/blocks/{{block.index - 1}}"
        class="btn btn-default btn-block btn-hover">
        <span class='h3'>PREVIOUS</span>
      </a>
    </div>
    <div class="col-md-4">
      <form ng-submit="bigSearch.query(block.index)">
        <input class='h2 big-input' spellcheck="false" ng-model="block.index">
      </form>
    </div>
    <div class="col-md-4">
      <a
        href="/testnet/blocks/{{block.index + 1}}"
        class="btn btn-default btn-block btn-hover">
        <span class='h3'>NEXT</span>
      </a>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="h1 text-center">
    BLOCK:
  </div>
  <br>
  <div class="h3 text-center text-gray">
    SUMMARY:
  </div>
  <waitspin ng-show="!block.block_height"></waitspin>
  <div class="col-md-8 col-md-offset-2">
    <span class="pull-right view-json">
      <a href='#'>View as JSON</a>
    </span>
    <br>
    <table
      ng-show="block.block_height"
      class="table table-bordered table-summary">
      <tr>
        <td>Block Height: </td>
        <td>{{block.block_height}}</td>
      </tr>
      <tr>
        <td>Block Hash: </td>
        <td>{{block.block_hash}}</td>
      </tr>
      <tr>
        <td>Block Time: </td>
        <td utc="{{block.block_time}}"></td>
      </tr>
      <tr>
        <td>Block Bits: </td>
        <td>{{block.bits}}</td>
      </tr>
      <tr>
        <td>Confirmations: </td>
        <td>
          <span class="label" verbose="true" confirmations="{{block.confirmations}}"></span>
        </td>
      </tr>
      <tr>
        <td>Merkle Root: </td>
        <td>{{block.merkle_root}}</td>
      </tr>
      <tr>
        <td>Nonce: </td>
        <td>{{block.nonce}}</td>
      </tr>
      <tr>
        <td># Transactions: </td>
        <td>{{block.tx_n}}</td>
      </tr>
      <tr>
        <td>Total Inputs: </td>
        <td to-btc="{{block.total_inputs}}"></td>
      </tr>
      <tr>
        <td>Total Outputs: </td>
        <td to-btc="{{block.total_outputs}}"></td>
      </tr>
    </table>

  </div>
</div>
<br><br><br>
<div class="container" ng-show="block.transactions.length > 0">
  <div class="h3 text-center text-gray">
    TRANSACTIONS:
  </div>
  <br>
  <div infinite-scroll="loadMoreTransactions()">
    <span ng-repeat="tx in block.transactions| limitTo:limitTo.transactions">
        <div ng-include="'/templates/blockExplorer/_tx.html'"></div>
      </span>
  </div>

</div>
