<subnav selected="'latest'"></subnav>
<!-- <br><br><br><br> -->
<div class="centerpiece-alt">
  <div class="container">
    <div class="input-group">
      <input
        class='h2 big-input'
        spellcheck="false"
        placeholder="Search for any address, transaction hash or block hash">
      <span class="input-group-btn">
        <button class="btn btn-success btn-block btn-search">
          <span class="h2">SEARCH</span>
        </button>
      </span>
    </div>
  </div>
</div>
<div class="container container-stats">
  <div class="row stats">
    <div class="col-md-3">
      <span class="label label-info">Nodes Connected:</span>
      <span class='h6'>12424</span>
    </div>
    <div class="col-md-3">
      <span class="label label-info">Difficulty:</span>
      <span class='h6'>1</span>
    </div>
    <div class="col-md-3">
      <span class="label label-info"># Total Transactions:</span>
      <span class='h6'>42,425,630</span>
    </div>
    <div class="col-md-3">
      <span class="label label-info"># Total Addresses:</span>
      <span class='h6'>1,535,733</span>
    </div>
  </div>
</div>
<br><br>
<div class="wide-container row">
  <div class="col-md-6">
    <div class="h3 text-gray text-center">Latest Blocks</div>
    <br>
    <table class="table table-latest">
      <thead>
        <tr>
          <th class='text-center'><span class='h5'>Block Height</span></th>
          <th class='text-center'><span class='h5'># Transactions</span></th>
          <th class='text-center'><span class='h5 nowrap'>Total Output Value</span></th>
          <th class='text-center'><span class='h5'>Time</span></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="block in blocks.latest">
          <td class='text-center'>
            <a href="#">{{block.block_height}}</a>
          </td>
          <td class='text-center'>
            <span class='h6'>{{block.tx_n}}</span>
          </td>
          <td>
            <span class="label label-success amount label-lg">
              <span to-btc="{{block.total_outputs}}"></span>
            </span>

          </td>
          <td class='text-center'>
            <span class='h6' live='true' timeago="{{block.block_time}}"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <div class="h3 text-gray text-center">Latest Transactions
      <span class='h5'>(see all)</span>
    </div>
    <br>
    <table class="table table-latest">
      <thead>
        <tr>
          <th class='text-center'><span class='h5'>Transaction Hash</span></th>
          <th class='text-center'><span class='h5'>Time</span></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="tx in transactions.latest">
          <td>
            <a href="">{{tx.tx_hash}}</a>
          </td>
          <td>
            <span class='h6 nowrap' live='true' timeago="{{tx.estimated_time}}"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="space"></div>
