<subnav></subnav>
<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-4 text-center">
      <img src="http://identicoin.herokuapp.com/address/1" height="250" class='address-identicoin'>
    </div>
    <div class="col-md-8">
      <textarea selected class='h2 input'>n1Fr4r3wEcbXZGQJaqJkFRiMpYLAsk81RX</textarea>
      <br><br>
      <table class="table table-bordered table-address">
        <tbody>
          <tr>
            <td><strong>Hash160</strong></td>
            <td>d88713de7b1d0837e728de5d5e62399f5e6e145e</td>
          </tr>
          <tr>
            <td><strong># Transactions</strong></td>
            <td></td>
          </tr>
          <tr>
            <td><strong># Total Sent</strong></td>
            <td></td>
          </tr>
          <tr>
            <td><strong># Total Received</strong></td>
            <td></td>
          </tr>
          <tr>
            <td><strong>Amount of Total Received</strong></td>
            <td>4342889</td>
          </tr>
          <tr>
            <td><strong>Amount of Final Balance</strong></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br><br>
  <tabset>
    <tab heading="Unspent Outputs">
      <br>
      CONTENT

    </tab>
    <tab heading="All Transactions">
      <br>
      CONTENT

    </tab>
  </tabset>
</div>
