<subnav selected="'propagate'" global="global"></subnav>
<div class="centerpiece-alt text-center">
  <div class="container heading">
    <div class="h1 text-center white">
        PROPAGATE/DECODE TRANSACTIONS
      </div>
  </div>
</div>
<br>
<div class="container">
  <form ng-submit="submitHex()">
    <div>
      <textarea class='big-input big-input-hex h4' spellcheck="false" rows='5' selected></textarea>
    </div>
    <br>
    <div class="pull-right">
      <button class='btn btn-warning'>
        DECODE
      </button>
      <button class='btn btn-danger'>
        PROPAGATE
      </button>
    </div>
  </form>
  <div class="space"></div>
  <tabset>
    <tab heading="Table">
      <br>
    </tab>
    <tab heading="JSON">
      <pre>
        <code>

        </code>
      </pre>
    </tab>
  </tabset>
</div>
