<subnav selected="'propagate'" global="global"></subnav>
<div class="centerpiece-alt text-center">
  <div class="container heading">
    <div class="h1 text-center white">
        PROPAGATE/DECODE TRANSACTIONS
      </div>
  </div>
</div>
<br>
<div class="container">
  <form ng-submit="submitHex()">
    <div>
      <textarea
        class='big-input big-input-hex h4'
        spellcheck="false"
        rows='5'
        placeholder="Copy/paste a raw transaction hex here ..."
        selected></textarea>
    </div>
    <div class="pull-right">
      <button class='btn btn-warning'>
        DECODE
      </button>
      <button class='btn btn-danger'>
        PROPAGATE
      </button>
    </div>
  </form>
  <div class="space"></div>
</div>
<br>
<div class="transaction-decoded" ng-show="true">
  <div class="container">
    <div class="alert alert-danger alert-danger-light text-center">
      <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
      <span class="h4">
        Here is an error alert message
      </span>
    </div>
    <div class="alert alert-success text-center">
      <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
      <span class="h4">
        Transaction hex is valid and ready to be propagated!
      </span>
    </div>
  </div>
  <div ng-include="'/templates/blockExplorer/_full_tx.html'"></div>

</div>
