<subnav selected="'propagate'" global="global"></subnav>
<div class="centerpiece-alt text-center">
  <div class="container heading">
    <div class="h1 text-center white">
        PROPAGATE/DECODE TRANSACTIONS [{{global.mode.toUpperCase()}}]
      </div>
  </div>
</div>
<br>
<div class="container">
  <form>
    <div>
      <textarea
        class='big-input big-input-hex h4'
        spellcheck="false"
        rows='5'
        ng-model="rawTransaction.rawTxHex"
        placeholder="Copy/paste a raw transaction hex here ..."
        selected></textarea>
    </div>
    <div class="pull-right">
      <button class='btn btn-warning' ng-click="decodeHex()">
        DECODE
      </button>
      <button class='btn btn-danger' ng-click="propagateHex()">
        PROPAGATE
      </button>
    </div>
  </form>
  <div class="space"></div>
</div>
<br>
<div class="transaction-decoded">
  <div class="container">
    <span ng-repeat="alert in alertsArray">
      <div class="alert {{alert.css}} text-center" fade-timeout='{{alert.fade}}'>
        <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
        <span class="h4">
          {{alert.message}}
        </span>
      </div>
    </span>
  </div>
  <waitspin left="620%" ng-if="sending"></waitspin>
  <div ng-show="!!transaction && !sending">
    {{transaction}}
    <div ng-include="'/templates/blockExplorer/_full_tx.html'"></div>
  </div>

</div>
