<subnav selected="'transactions'" global="global"></subnav>
<div class="centerpiece-alt text-center">
  <div class="container">
    <form ng-submit="bigSearch.query(transaction.tx_hash)">
      <div class="input-group">
          <input
            class='h3 big-input'
            spellcheck="false"
            name="query"
            ng-model="transaction.tx_hash"
            >
          <span class="input-group-btn">
            <button class="btn btn-success btn-block btn-search">
              <span class="h2">SEARCH</span>
            </button>
          </span>
      </div>
    </form>
  </div>
</div>
<div ng-include="'/templates/blockExplorer/_full_tx.html'"></div>
