<subnav selected="'transactions'"></subnav>
<div class="centerpiece-alt text-center">
  <div class="container">
    <div class="input-group">
      <input
        class='h3 big-input'
        spellcheck="false"
        value="{{transaction.tx_hash}}">
      <span class="input-group-btn">
        <button class="btn btn-success btn-block btn-search">
          <span class="h2">SEARCH</span>
        </button>
      </span>
    </div>
  </div>
</div>
<div class="container">
  <br>
  <div class="h1 text-center">
    TRANSACTION:
  </div>
  <br>
  <div class="row">
    <div class="h3 text-center text-gray">
      SUMMARY
    </div>
    <span class="pull-right view-json">
      <a href='#'>View as JSON</a>
    </span>
    <br>
    <div class="row">
      <div class="col-md-12 table-tight">
        <table class="table table-bordered table-summary table-overview">
          <tbody>
            <tr>
              <td>Transaction Hash: </td>
              <td>{{transaction.tx_hash}}</td>
            </tr>
            <tr>
              <td>Block Hash: </td>
              <td>
                <a href="blocks/{{transaction.block_hash}}">
                  {{transaction.block_hash}}
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <table class="table table-bordered table-summary">
        <tr>
          <td>Size: </td>
          <td>{{transaction.tx_size}} KB</td>
        </tr>
        <tr>
          <td>Block Height: </td>
          <td>{{transaction.block_height}}</td>
        </tr>
        <tr>
          <td>Block Time: </td>
          <td>{{transaction.block_ntime}}</td>
        </tr>
        <tr>
          <td>Confirmations: </td>
          <td>{{transaction.confirmations}}</td>
        </tr>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table table-bordered table-summary">
        <tr>
          <td>Received Time: </td>
          <td>{{transaction.time}}</td>
        </tr>
        <tr>
          <td>Total Transacted (est.): </td>
          <td to-btc="TODO"></td>
        </tr>
        <tr>
          <td>Total Inputs: </td>
          <td to-btc="TODO">TODO</td>
        </tr>
        <tr>
          <td>Total Outputs: </td>
          <td to-btc="TODO">TODO</td>
        </tr>
      </table>
    </div>
  </div>
  <br><br>
</div>
<div class="wide-container">
  <div class="h3 text-center text-gray">
    INPUTS/OUTPUTS
  </div>
  <table class="table table-transactions">
    <tr>
      <td class='no-top'>
      <br>
      <div class="col-md-5">
        <table
          ng-repeat="i in transaction.in"
          class="
            table table-bordered table-io"
            ng-repeat="o in transaction.out">
          <tbody>
            <tr>
              <td>n (index): </td>
              <td>
                <span class="h5">
                  <a href="#">
                    {{i.prev_out.n}}
                  </a>
                </span>
              </td>
            </tr>
            <tr>
              <td>Address: </td>
              <td>
                <img
                  ng-src="http://identicoin.herokuapp.com/address/{{i.prev_out.address}}"
                  width="16">
                <span class="h5">{{i.prev_out.address}}</span>
              </td>
            </tr>
            <tr>
              <td>
                Amount:
              </td>
              <td>
                <span class="label label-default">SPENT</span>
                <span class="h5 amount" to-btc="{{i.prev_out.value}}"></span>
              </td>
            </tr>
            <tr>
              <td class='text-center'>ScriptSig: </td>
              <td class='break'>
                <span class="h5">{{i.scriptSig}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-2 text-center">
        TODO
        <i class="fa fa-arrow-circle-right fa-4x text-success"></i>
      </div>
      <div class="col-md-5 addresses">
        <table
          class="table table-bordered table-io"
          ng-repeat="o in transaction.out">
          <tbody>
            <tr>
              <td>n (index): </td>
              <td><span class="h5">{{o.n}}</span></td>
            </tr>
            <tr>
              <td>Address: </td>
              <td>
                <img src="http://identicoin.herokuapp.com/address/{{o.address}}" width="16">
                <span class="h5">{{o.address}}</span>
              </td>
            </tr>
            <tr>
              <td>
                Amount:
              </td>
              <td>
                <span class="label" spent="{{o.spent}}"></span>
                <span class="h5 amount" to-btc="{{o.value}}"></span>
              </td>
            </tr>
            <tr>
              <td rowspan="2">scriptPubKey: </td>
              <td>
                <span class="h5">
                  TODO: Parsed
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="h5">
                  {{o.scriptPubKey}}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      </td>
    </tr>
  </table>
</div>
