<subnav selected="'unconfirmed'"></subnav>
<div class="centerpiece-alt text-center">
  <div class="container">
    <div class="h1 text-center white">
        UNCONFIRMED TRANSACTIONS
      </div>
  </div>
</div>
<div class="container">
  <br>
  <span ng-repeat="tx in transactions.unconfirmed | limitTo:limit.unconfirmed">
    <div ng-include="'/templates/blockExplorer/_tx.html'"></div>
  </span>

  <div
    infinite-scroll="loadMoreTransactions()"
    infinite-scroll-distance="0">
  </div>
</div>
