<subnav selected="'unconfirmed'" global="global"></subnav>
<div class="centerpiece-alt text-center">
  <div class="container">
    <div class="h1 text-center white">
        UNCONFIRMED TRANSACTIONS
      </div>
  </div>
</div>
<div class="container">
  <waitspin ng-show="transactions.unconfirmed.length === 0"></waitspin>
  <br>
  <div infinite-scroll="loadMoreTransactions()">
    <span ng-repeat="tx in transactions.unconfirmed | limitTo:limitTo.unconfirmed">
      <div ng-include="'/templates/blockExplorer/_tx.html'"></div>
    </span>
  </div>
</div>
