<br>
<h1 class="text-center">Register an Account</h1>
<br><br>
<form
  name="signUpForm"
  class="form-horizontal"
  ng-submit="SignUp.submit()"
  novalidate>

  <!-- Uncaught errors -->
  <div class="row error-messages" ng-repeat="error in SignUp.errors">
    <div class="col-sm-6 col-sm-offset-3">
      {{error.message}}
    </div>
  </div>

  <div class="form-group">
    <label class="h3 col-sm-3 big-input-label">Email:</label>
    <div class="col-sm-7">
      <input
        class="h3 big-input big-input-left"
        spellcheck="false"
        tabindex="1"
        type="email"
        name="email"
        ng-model="Account.email"
        ng-minlength="4"
        required
      >
    </div>
  </div>
  <div class="error-messages col-sm-8 col-sm-offset-4">
    <div
      ng-show="signUpForm.password.$error.minlength"
      class="alert alert-warning text-center">
      <span class="h4">
        Password must be above 8 characters
      </span>
    </div>
    <div
      ng-show="signUpForm.password.$error.equals"
      class="alert alert-danger text-center">
      <span class="h4">
        Password does not match
      </span>
    </div>
  </div>
  <div class="form-group">
    <label class="h3 col-sm-3 big-input-label">Password:</label>
    <div class="col-sm-7">
      <input
        tabindex="2"
        class="h3 big-input big-input-left"
        name="password"
        type="password"
        ng-model="Account.password"
        ng-minlength="8"
        required
        equals="{{Account.passwordConfirmation}}"
        >
    </div>
  </div>
  <div class="form-group">
    <label class="h3 col-sm-3 big-input-label">Password Confirmation:</label>
    <div class="col-sm-7">
      <input
        tabindex="3"
        class="h3 big-input big-input-left"
        name="password-confirmation"
        type="password"
        ng-model="Account.passwordConfirmation"
        ng-minlength="8"
        required
        equals="{{Account.password}}"
        >
    </div>
  </div>
  <br><br>
  <div class="form-group">
    <div class="col-sm-1 col-sm-offset-1">
      <spin size="small" ng-show="SignUp.submitting"></spin>
    </div>
    <div class="col-md-4 col-md-offset-3">
      <button
        class="btn btn-success btn-lg"
        type="submit"
        ng-disabled="signUpForm.$invalid || SignUp.submitting"
        >
        <span class='h2'>
          SIGN UP
        </span>
      </button>
    </div>
  </div>
</form>
