<div id="docs" scroll-spy>
  <!-- SIDEBAR -->
  <div class="col-md-2">
    <div class="bs-sidebar static">
      <ul class="nav bs-sidenav">
        <li ng-repeat="m in methods" spy="{{m}}">
          <a href="#!/docs/#{{m}}">{{m.capitalize()}}</a>
          <ul class="nav">
            <li>
              <em>How to use</em>
            </li>
            <li>
              <em>Examples</em>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <!-- LANGUAGE -->
  <div class="col-md-10">
    <div id="language-setter">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <a
          class="btn btn-sm btn-default"
          ng-class="{'btn-primary': global.language === 'curl'}"
          ng-click="global.setLanguage('curl')"
        >
          Curl
        </a>
        <a
          class="btn btn-sm btn-default"
          ng-class="{'btn-primary': global.language === 'ruby'}"
          ng-click="global.setLanguage('ruby')"
        >
          Ruby
        </a>
      </div>
    </div>

    <!-- METHOD -->

    <div class="methods">
      <span ng-repeat="m in methods" id="{{m}}">
        <div class="row method">
          <div class="col-md-6 method-description" >
            <br>
            <div ng-include="docsUrl(m, 'description')"></div>
          </div>
          <div class="col-md-6 method-example">
            <div ng-show="global.language === 'curl'">
              <div ng-include="docsUrl(m, 'curl')"></div>
            </div>
            <div ng-show="global.language === 'ruby'">
              <div ng-include="docsUrl(m, 'ruby')"></div>
            </div>
          </div>
        </div>
        <div class="line"></div>
      </span>
    </div>
    <!-- <div class="blank">
      <br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br>
    </div> -->
  </div>

</div>
