<div id="docs" scroll-spy>
  <!-- SIDEBAR -->
  <div class="col-md-2">
    <div class="bs-sidebar static">
      <ul class="nav bs-sidenav">
        <li>
          <div class="title">
            <h5>
              <strong>API</strong>
            </h5>
          </div>
        </li>
        <li
          ng-repeat="s in general"
          spy="{{s.name}}"
          >
          <a href="#!/docs/#{{s.name}}">{{s.name.capitalize()}}</a>
          <ul class="nav">
            <li ng-repeat="sub in s.subs">
              <em>{{sub.name.capitalize()}}</em>
            </li>
          </ul>
        </li>
        </li>
        <li>
          <div class="title">
            <h5>
              <strong>Methods</strong>
            </h5>
          </div>
        </li>
        <li
          ng-repeat="s in methods"
          spy="{{s.name}}">
          <a href="#!/docs/#{{s.name}}">{{s.name.capitalize()}}</a>
          <ul class="nav">
            <li ng-repeat="sub in s.subs">
              <em>{{sub.name.capitalize()}}</em>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <!-- LANGUAGE -->
  <div class="col-md-10" >
    <div id="language-setter">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <a
          class="btn btn-sm btn-default"
          ng-class="{'btn-primary': global.language === 'curl'}"
          ng-click="global.setLanguage('curl')"
        >
          Curl
        </a>
        <a
          class="btn btn-sm btn-default"
          ng-class="{'btn-primary': global.language === 'ruby'}"
          ng-click="global.setLanguage('ruby')"
        >
          Ruby
        </a>
      </div>
    </div>

    <!-- METHOD -->
    <div class="sections">
      <span ng-repeat="s in sections" id="{{s.name}}">
        <span ng-repeat="sub in s.subs">
          <div class="row section">
            <div class="col-md-6 section-description" >
              <br>
              <div
                ng-if="sub.name !== undefined"
                ng-include="docsUrl(s.name, sub.name, 'description')">
              </div>
            </div>
            <div class="col-md-6 section-example">
              <div ng-show="global.language === 'curl'">
                <div
                  ng-if="sub.name !== undefined"
                  ng-include="docsUrl(s.name, sub.name, 'curl')">
                </div>
              </div>
              <div ng-show="global.language === 'ruby'">
                <div
                  ng-if="sub.name !== undefined"
                  ng-include="docsUrl(s.name, sub.name, 'ruby')">
                </div>
              </div>
            </div>
          </div>
        </span>

        <!-- Only display when section exists -->
        <div class="line" ng-if="s.subs.length > 0"></div>

      </span>
    </div>
    <!-- <div class="blank">
      <br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br>
    </div> -->
  </div>

</div>
