<br>
<div class="container">
  <div class="input-group input-group-lg" prevent-backspace>
    <span class="input-group-addon">REQUEST URL: </span>
    <textarea type="text" class="form-control no-white-space no-outline" readonly selected>
      {{request.buildUrl()}}
    </textarea>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3>REQUEST</h3>
      <form class="bs-sidebar extra-padding" ng-submit="submitRequest()">
        <div class="row">
          <div class="col-md-4">
            <div class='h5 title-key'>
              <strong>Mode:</strong>
            </div>
          </div>
          <div class="col-md-8">
            <select ui-select2="select2Options" ng-model="options.mode">
              <option value="api">LIVE</option>
              <option value="test">TEST</option>
            </select>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            <div class='h5 title-key'>
              <strong>Resource:</strong>
            </div>
          </div>
          <div class="col-md-8">
            <select ui-select2="select2Options" ng-model="options.resource">
              <option value="addresses">Addresses</option>
              <option value="unspents">Unspents</option>
              <option value="transactions">Transactions</option>
              <option value="blocks">Blocks</option>
            </select>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-4">
            <div class='h5 title-key'>
              <strong>Parameters:</strong>
            </div>
          </div>
        </div>
        <br>
        <div class="row" ng-repeat="p in options.params">
          <div class="col-md-4 text-right"><h5>{{p.key.capitalize()}}:</h5></div>
          <div class="col-md-8">
            <input class='form-control' ng-model="p.value">
          </div>
          <br><br>
        </div>
        <br>
        <button
          class="btn btn-block btn-success"
          type="submit"
          >
          SUBMIT REQUEST
        </button>
      </div>
    </form>
    <div class="col-md-8">
      <h3>RESPONSE</h3>
      <spin ng-show="response.loading"></spin>
      <pre class="response">
        <code class="javascript" ng-hljs>
        </code>
    </pre>
  </div>
</div>
</div>
