<div id="landing">
  <div ng-show="User.emailSuccess" class='alert-message'>
    <div class="alert alert-success text-center">
      <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
      <span class="h4">
        Thank you, we will be in touch shortly!
      </span>
    </div>
  </div>
  <div class="centerpiece">
    <div class="container">
      <br>
      <!-- <br> -->
      <!-- <br> -->
      <h1 class='main-title text-center white'>
        <strong>
          Focus on building Bitcoin apps, not infrastructure.
        </strong>
      </h1>
      <br>
      <h2 class='text-center white'>
        <span>
          Get started with the Blockchain Data API
        </span>
        <a class="btn btn-success" href="/docs/ref">
          <span class='h3'>
            GO TO DOCS
          </span>
        </a>
      </h2>
      <br><br>
      <div class="row">
        <form ng-submit="bigSearch.query(query)" class="container big-search">
          <div class="input-group">
            <input
              class='h3 big-input'
              spellcheck="false"
              ng-model="query"
              placeholder="Search for any address, transaction hash or block height">
            <span class="input-group-btn">
              <button class="btn btn-success btn-block btn-search">
                <span class="h2">SEARCH</span>
              </button>
            </span>
          </div>
        </form>
      </div>
      <br>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="feature col-md-4 text-center">
        <br>
        <i class="fa fa-wrench fa-4x"></i>
        <h2>
          Built for Developers
        </h2>
        <p class='lead lead-smaller'>
          HTTPS access to Blockchain Data through a RESTful JSON API. Hosted Mainnet/Testnet.
        </p>
      </div>
      <div class="feature col-md-4 text-center">
        <br>
        <i class="fa fa-bug fa-4x"></i>
        <h2>
          Testnet Support
        </h2>
        <p class='lead lead-smaller'>
          Built with Testnet in mind from Day One to make writing tests easy.
        </p>
      </div>
      <div class="feature col-md-4 text-center">
        <br>
        <i class="fa fa-btc fa-4x"></i>
        <h2>
          Programmatic Faucet
        </h2>
        <p class='lead lead-smaller'>
          <a href="/docs/ref#faucet">Programmatic access</a> to free Bitcoins (on testnet3) for testing purposes.
        </p>
      </div>
    </div>
    <br>
    <div class="row">
      <h1 class='text-center'>Register an Account</h1>
      <br>
      <div class="col-md-8 col-md-offset-2">
        <p class="lead text-center">
          Access the Faucet, lift the Rate Limit, be notified of new features.
        </p>
        <form ng-submit="User.signUp(User.email)">
          <div class="input-group">
              <input
                class='h3 big-input'
                spellcheck="false"
                type="email"
                name="email"
                ng-model="User.email"
                ng-minlength="4"
                placeholder="person@example.com"
                required
                >
              <span class="input-group-btn">
                <button class="btn btn-success btn-block btn-search" ng-show="!User.submitting">
                  <span class="h4">REGISTER</span>
                </button>
                <button class="btn btn-success btn-block btn-search" ng-show="User.submitting" ng-disabled='true'>
                  <span class="h4">REGISTERING ...</span>
                </button>
              </span>
          </div>
        </form>
        <br>
      </div>
    </div>

    <div class="row">
      <h1 class='text-center'>Quick Start</h1>
      <br>
      <div class="col-md-8 col-md-offset-2">
        <pre class='sample'>
          <div ng-include="'/templates/docs/_quickstart.html'"></div>
        </pre>
        <br>
        <div class="row text-center">
          <a class="btn btn-success btn-lg" href="/docs/ref">
            <span class='h3'>
              GETTING STARTED
            </span>
          </a>
        </div>

      </div>
    </div>
</div>
<br><br>
<!-- <br><br><br><br> -->
