<div id="landing">
  <div class="centerpiece">
    <div class="container">
      <br><br><br>
      <h1 class='main-title text-center white'>
        <strong>Stop writing tests using real coins</strong>
      </h1>
      <br>
      <h2 class='text-center white'>
        Get started with the testnet blockchain API
      </h2>
      <br><br><br>
      <div class="row text-center">
        <a class="btn btn-success btn-lg" href="/docs/">
          <!-- TODO: should be explorer -->
          Go to Docs
        </a>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="feature col-md-4 text-center">
        <br>
        <i class="fa fa-copy fa-4x"></i>
        <h2>
          Mirrors Blockchain.info
        </h2>
        <p class='lead lead-smaller'>
          Provides a testing environment for developers using blockchain.info in production
        </p>
      </div>
      <div class="feature col-md-4 text-center">
        <br>
        <i class="fa fa-wrench fa-4x"></i>
        <h2>
          Built for Developers
        </h2>
        <p class='lead lead-smaller'>
          HTTPS access to Blockchain Data through a RESTful JSON API. Hosted  Mainnet and Testnet.
        </p>
      </div>
      <div class="feature col-md-4 text-center">
        <br>
        <i class="fa fa-btc fa-4x"></i>
        <h2>
          Testnet3 Support
        </h2>
        <p class='lead lead-smaller'>
          Built with Testnet in mind from Day One to enable developers to write automated tests.
        </p>
      </div>
    </div>

    <br><br>
    <div class="row">
      <h1 class='text-center'>Quick Start</h1>
      <div class="col-md-8 col-md-offset-2">
        <blockquote>
          <p class="lead">
            If you are using the <a href="https://blockchain.info/api/blockchain_api">Blockchain.info API</a> would like testnet support,
            substituted your base URL as follows:
          </p>
        </blockquote>
        <div>
          <h2 class='text-center'>
            <code>https://blockchain.info/</code>
          </h2>
          <h2>
            <code>
              <textarea class='big-input link' readonly selected>https://test.helloblock.io/b/</textarea>
            </code>
          </h2>
        </div>
        <br><br>
        <blockquote>
          <p class="lead">
            <code class=''>https://test.helloblock.io/b/</code>
            mirrors the methods and responses specified in <a href="blockchain.info/api/blockchain_api">https://blockchain.info/api/blockchain_api</a> (including /pushtx), except it runs on <a href="https://en.bitcoin.it/wiki/Testnet">testnet3</a>, an alternative blockchain used for testing.
          </p>
        </blockquote>
        <blockquote>
          <p class="lead">
            However, if you prefer a more reliable API, we recommended you to try our API.
          </p>
        </blockquote>
        <br>
        <div class="row text-center">
          <a class="btn btn-success btn-lg" href="/docs/">
            <!-- TODO: should be explorer -->
            Go to Docs
          </a>
        </div>

      </div>
    </div>

  </div>

</div>
<br><br><br><br><br><br>
