@import "yeti/base";
/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* No mobile view */

/* First level of nav */

.bs-sidebar {
  margin-top: 20px;
  width: 210px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: lighten(@gray-lighter, 2%);

  &.affix-top {
    position: absolute;
  }

  &.affix {
    top: 40px;
    margin-top: 0px;
    position: fixed;
  }

  &.affix-bottom {

  }

  /* All levels of nav */
  .nav > li > a {
    display: block;
    color: #333;
    padding: 5px 20px;
  }
  .nav > li > a:hover,
  .nav > li > a:focus {
    text-decoration: none;
    color: @white;
    background-color: @brand-info;
    border-right: 3px solid @brand-primary;
  }
  .nav > .active > a,
  .nav > .active:hover > a,
  .nav > .active:focus > a {
    font-weight: bold;
    color: @white;
    background-color: @brand-primary;
    text-shadow: 0 1px 0 @gray;
    border-right: 3px solid darken(@brand-primary, 10%);
  }

  /* Nav: second level (shown on .active) */
  .nav {

    /* Hide by default */
    .nav {
      display: none;
      margin-bottom: 8px;
    }

    &.active {
      display: block;
    }

    .nav > li > a {
      padding-top:    3px;
      padding-bottom: 3px;
      padding-left: 30px;
      font-size: 90%;
    }
  }
}
