@import "yeti/base";

.container-stats {
	// position: fixed;
	// bottom: 0px;
	margin: 0 auto;
	text-align: center;
	// left: 50%;

	.stats {
		background-color: @white;
		z-index: 3;
		// left: -50%;
		// position: relative;
		border: 1px solid @gray-lighter;
		padding: 10px;
		margin-left: 0px;
		margin-right: 0px;
		// .box-shadow(0px 1px 1px rgba(50, 50, 50, 0.15));
		// #gradient.vertical(
		// 	@start-color: @white;
		// 	@end-color: lighten(@gray-lighter, 0%);
		// 	@start-percent: 0%;
		// 	@end-percent: 100%);

	}
}

.address-identicoin {
	vertical-align: middle;
	margin-top: 35px;
}

.break {
	word-break: break-all;
}

.label-lg {
	font-size: 125%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.text-gray {
	color: @gray;
}

.text-gray-light {
	color: @gray-light;
}

.view-json {
	margin-right: 40px;
}

.btn-hover:hover {
	color: @white;
	background-color: @brand-success;
	border: none;
}

.input-group-btn .btn.btn-search {
	height: 60px;
	margin-left: 1px
}

.big-input {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
	height: 60px;
	outline: 1px solid @gray-lighter;
	padding: 7px;
	border: none;
	resize: none;
	overflow: hidden;

	&:focus {
		outline: 1px solid @brand-success;
	}

	&.h2 {
		padding-top: 11px;
	}

	&.link {
		padding-top: 14px;
		color: @gray-dark;
	}

	&.has-warning:focus {
		outline: 1px solid @brand-warning;
	}
}

.amount, .nowrap {
	white-space: nowrap;
}

.no-top {
	border-top: none!important;
}

.centerpiece-alt {
	background-image: url("/assets/landing-bg.jpg");
	padding-top: 75px;
	padding-bottom: 75px;
	min-height: 210px;

	form {
		display: inline;
	}
}

table {
	&.table-io {
		font-size: 18px;
		font-weight: 200;

		td:nth-of-type(1) {
      width: 20%;
      text-align: right;
		}
	}

	&.table-summary {
		font-size: 18px;
		font-weight: 200;

		td:nth-of-type(1) {
      width: 40%;
      text-align: right;
      white-space: nowrap;
		}
	}

	&.table-overview {
		td:nth-of-type(1) {
			width: inherit;
		}
	}

	&.table-address {
		margin: 0 auto;
		width: 100%;
		font-size: 14px;
		font-weight: 200;

		td:nth-of-type(1) {
      width: 33%;
      text-align: right;
    }
	}

	&.table-address-stats {
		font-size: 14px;

		td:nth-of-type(1) {
      text-align: right;
    }
	}

	&.table.table-higlighted {
		background-color: lighten(@brand-success, 30%);
	}

	&.table-transactions {

		tr:nth-of-type(1) td {
			// border-top: none;
		}


		td.n-index {
			vertical-align: middle;
		}
	}


	&.table.table-info {
		tr td {
			padding-top: 8px;
			padding-bottom: 8px;
		}
	}

	&.table.table-latest {
		tr td {
			// text-align: center;
		}
	}

}

.table-tight {
	padding-left: 30px;
	padding-right: 30px;
}
