@import "yeti/base";

.address-identicoin {
	vertical-align: middle;
}

.break {
	word-break: break-all;
}

.label-lg {
	font-size: 125%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.text-gray {
	color: @gray-light
}

textarea.input {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
	height: 60px;
	outline: 1px solid @gray-lighter;
	padding: 7px;
	border: none;
	resize: none;
	overflow: hidden;

	&:focus {
		outline: 1px solid @brand-success;
	}

	&.h2 {
		padding-top: 11px;
	}
}

.amount {
	white-space: nowrap;
}

.no-top {
	border-top: none!important;
}

table {
	&.table-summary {
		font-size: 18px;
		font-weight: 200;

		td:nth-of-type(1) {
	        width: 40%;
	        text-align: right;
	    }
	}

	&.table-address {
		margin: 0 auto;
		width: 100%;
		font-size: 14px;

		td:nth-of-type(1) {
	        width: 33%;
	        text-align: right;
	    }
	}

	&.table.table-higlighted {
		background-color: lighten(@brand-warning, 40%);
	}

	&.table-transactions {

		tr:nth-of-type(1) td {
			// border-top: none;
		}


		td.n-index {
			vertical-align: middle;
		}
	}


	&.table.table-info {
		tr td {
			padding-top: 8px;
			padding-bottom: 8px;
		}
	}

}
