@import "yeti/base";

#docs {

    p {
        // font-size: 14px;
    }
    margin-top: 20px;

    .col-md-10 {
        padding-right: 0;
    }

    .row {
        margin-right: 0;
    }

    h2, .h2 {
        margin-top: 0px;
    }

    table.table {
        font-size: 14px;
    }

    .table-docs {
        td:nth-of-type(1) {
            width: 33%;
            text-align: right;
        }
    }

}

#language-setter div {
    padding: 0;
    background-color: @white;
}

.sections {
    margin-left: 50%;
    background-color: @code-background;
}

.section {

    margin-left: -100%;

    & > * {
        position: relative;
    }

    .section-description {
        background-color: @white;
    }

    .section-example {
        padding-right: 15px;

        .title {
            color: @gray-light;
        }

        pre {
            margin: 0;
        }
    }
}

.line {
    margin-left: -100%;
    height: 1px;
    z-index: 2;
    #gradient.horizontal(
        @start-color: @gray-light,
        @end-color: darken(@white, 30%)
    );
}

.code-sample {
    pre {
        margin-top: 0;
    }

    code {
        margin-left: 25px;
    }
}

.tutorials {
    h1 {
        text-align: center;
    }



}
