@import "yeti/base";

pre.response {
	height: 550px;
	white-space: normal;
	overflow-y: scroll;

	code {
		height: 100%;
		padding: 20px;
		white-space: pre;
	}
}

.line-divider {
	margin: 0 20px;
	height: 1px;
    z-index: 2;
    .box-shadow(0px 1px 0.5px lighten(@gray-light, 10%));
    #gradient.radial(
        @inner-color: @gray-light,
        @outer-color: @gray-lighter
    );
}
