[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.square {
	border-radius: none!important;
}

.white {
	color: #fff;
}

.nav-pills > li {
	cursor: pointer;
}

.btn:focus {
	outline: none
}
