@import "yeti/base";

#landing {
	.alert-message div {
		margin-bottom: 0px;
	}

	.centerpiece {
		top: 20px;
		background-image: url("/assets/landing-bg2.jpg");
		background-size: cover;
		height: 320px;

		.main-title {
			font-size: 48px;
		}
	}

	.feature {
		border: 1px solid @gray-lighter;

		&:nth-child(1), &:nth-child(2) {
			border-right-width: 0px;
		}
	}

	i.fa {
		color: @brand-info;
	}

	.lead-smaller {
		font-size: 18px;
	}
}
