<div id="docs">
  <div class="col-md-2">
    <sidebar methods="methods"></sidebar>
  </div>
  <div class="col-md-10">
    <div class="methods">
      <span ng-repeat="m in methods">
        <div class="row method">
          <div class="col-md-6 method-description">
            <h2>{{m.name}}</h2>

            <code>
              https://api.helloblock.io/v1{{m.endpoint}}
            </code>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>

            <br>
          </div>
          <div class="col-md-6 method-code">
            <code ng-non-bindable>
              {{puts "Hello, Block!"}}
            </code>
            <p ng-repeat="i in []" class='white'>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
        <div class="line"></div>
      </span>
    </div>
  </div>

</div>
