<div id="landing">
  <div class="centerpiece">
    <div class="container">
      <br><br>
      <h1 class='main-title text-center white'>
        <strong>Blockchain API with testnet support</strong>
      </h1>
      <br><br>
      <h2 class='text-center white'>
        Stop writing tests using real coins
      </h2>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="feature col-md-4 text-center">
        <br>
        <i class="fa fa-copy fa-4x"></i>
        <h2>
          Mirrors Blockchain.info
        </h2>
        <p class='lead'>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        </p>
      </div>
      <div class="feature col-md-4 text-center">
        <br>
        <i class="fa fa-wrench fa-4x"></i>
        <h2>
          Built for Developers
        </h2>
        <p class='lead'>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        </p>
      </div>
      <div class="feature col-md-4 text-center">
        <br>
        <i class="fa fa-btc fa-4x"></i>
        <h2>
          Testnet3 Support
        </h2>
        <p class='lead'>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        </p>
      </div>
    </div>


    <div class="row">

      sdf
    </div>

  </div>

</div>
